

body {
  background-color: #BBDDDD;
  background-image: url('../img/pic1.jpeg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: auto;
}
/* Used cover for background-size to adjust to window size, auto for positioniong */

#home-row {
  height: 33vh;
  font-size: 20%;
}

#enter-button {
  min-width: 55px;
  width: 100%;
  height: 10vh;
}

p {
  font-size: 42px;
  color: red;
}

html {
  font-size: 14px;
}
/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
  #enter-button {
    width: 20%;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
  #enter-button {
    width: 20%;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
  #enter-button {
    width: 20%;
  }
}*/
