

body {
  background-color: #BBDDDD;
  background-image: url('../img/pic1.jpeg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: auto;
}
/* Used cover for background-size to adjust to window size, auto for positioniong */

#home-row {
  height: 33vw;
}

#enter-button {
  display: block;
  margin: auto;
  min-width: 55px;
  margin: auto;
  width: 80%;
  height: 30%;
  border-color: background-color: #BBDDDD;
  font-size: 4vw;
}

#enter-button:hover {
  background-color: #BBDDDD;
}

.profile-div {
  height: 100vh;
  width: 100vw;
}

#card1 {

}
