

body {
  background-color: #BBDDDD;
  background-image: url('../img/pic1.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: auto;
}
/* Used cover for background-size to adjust to window size, auto for positioniong */

#home-row {
  height: 33vh;
}

#enter-button {
  vertical-align: center;
}

p {
  font-size: 42px;
  color: red;
}

@include media-breakpoint-up(sm) {
  p {
    font-size: 28px;
    color: blue;
  }

  #enter-button {
    font-size: 42px;
  }
}
