

body {
  background-color: #BBDDDD;
  background-image: url('../img/pic1.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: auto;
}
/* Used cover for background-size to adjust to window size, auto for positioniong */
#enter-button {
  vertical-align: center;
  position: absolute;
  width: 30%;
  min-height: 40px;
  height: 10%;
  top: 5%;
  right: 34%;
}
