
/*--------------------------------------------------
Page wide styling
---------------------------------------------------*/

#landing {
  background-color: #BBDDDD;
  background-image: url('../img/pic1.jpeg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: auto;
  width: 100vw;
  height: 100vh;
}

#home {
  background-color: #BBDDDD;
  background-image: url('../img/pic4.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: auto;
  width: 100vw;
  height: 100vh;
}
/* Used cover for background-size to adjust to window size, auto for positioniong */





/*--------------------------------------------------
Specific Element Styling
---------------------------------------------------*/

#home-row {
  height: 33vw;
}


#enter-button {
  display: block;
  margin: auto;
  min-width: 55px;
  margin: auto;
  width: 80%;
  height: 30%;
  border-color: background-color: #BBDDDD;
  font-size: 4vw;
}

#enter-button:hover {
  background-color: #BBDDDD;
}



.profile-div {
  height: 100vh;
  width: 100vw;
}

#card1 {
  min-width: 200px;
}
