

body {
  background: url('../img/pic1.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: auto;
}
/* Used cover for background-size to adjust to window size, auto for positioniong */
